@use "../base/variables" as *;
@use "../base/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  @media (min-width: $tablet) {
    order: 2;
    height: 400px;
    align-items: flex-start;
    background-image: url("../images/decorative/background-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $desktop) {
    height: 648px;
    background-image: url("../images/decorative/background-desktop.jpg");
  }

  &--inner {
    @media (min-width: $tablet) {
      height: 220px;
    }

    @media (min-width: $desktop) {
      height: 315px;
    }
  }
}

.header__logo-image {
  @media (min-width: $tablet) {
    @include size(370px, 101px);
    margin-top: 55px;
  }

  @media (min-width: $desktop) {
    height: 153px;
  }

  &--inner {
    @media (min-width: $tablet) {
      margin-top: 40px;
    }

    @media (min-width: $desktop) {
      margin-top: 55px;
    }
  }
}
