<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__contacts contacts">
      <b class="contacts__title">Барбершоп «Бородинский»</b>
      <p class="contacts__text">
        г. Санкт-Петербург, <br>ул. Большая Конюшенная 19/8<br>
        <a class="contacts__phone" href="tel:+78125556666">
          <span class="contacts__phone-mobile">Тел.:</span> +7 (812) 555-66-66
        </a>
      </p>
    </div>
    <div class="footer__social social">
      <b class="social__title">Давайте дружить!</b>
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link" href="https://vk.com/htmlacademy" aria-label="Мы в Вконтакте">
            <svg class="social__link-image" width="40" height="40">
              <use xlink:href="images/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.facebook.com/htmlacademy" aria-label="Мы в Фейсбуке">
            <svg class="social__link-image" width="40" height="40">
              <use xlink:href="images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.instagram.com/htmlacademy" aria-label="Мы в Инстаграме">
            <svg class="social__link-image" width="40" height="40">
              <use xlink:href="images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright copyright">
      <b class="copyright__text">Разработано:</b>
      <a class="button button--dark copyright__link" href="https://htmlacademy.ru/intensive/adaptive" target="_blank" rel="nofollow noopener">HTML Academy</a>
    </div>
  </div>
</footer>
