<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__contacts contacts">
      <b class="contacts__title">Барбершоп «Бородинский»</b>
      <p class="contacts__text">
        г. Санкт-Петербург, <br>ул. Большая Конюшенная 19/8<br>
        <a class="contacts__phone" href="tel:+78125556666">
          <span class="contacts__phone-mobile">Тел.:</span> +7 (812) 555-66-66
        </a>
      </p>
    </div>
    <div class="footer__social social">
      <b class="social__title">Давайте дружить!</b>
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link social__link--vk" href="https://vk.com/" title="Наша группа ВКонтакте" aria-label="Наша группа ВКонтакте" target="_blank" rel="nofollow noopener"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--telegram" href="https://t.me" title="Наш канал в Телеграм" aria-label="Наш канал в Телеграм" target="_blank" rel="nofollow noopener"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--youtube" href="https://www.youtube.com/" title="Наш канал в YouTube" aria-label="Наш канал в YouTube" target="_blank" rel="nofollow noopener"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--github" href="https://github.com/NemtsevK/barbershop" title="Исходный код в GitHub" aria-label="Исходный код в GitHub" target="_blank" rel="nofollow noopener"></a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright copyright">
      <b class="copyright__text">Разработано:</b>
      <a class="button button--dark copyright__link" href="https://htmlacademy.ru/intensive/adaptive" target="_blank" rel="nofollow noopener">HTML Academy</a>
    </div>
  </div>
</footer>
