@use "../base/variables" as *;

.copyright {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.copyright__text {
  font-weight: 700;

  @media (min-width: $tablet) {
    font-weight: 400;
  }
}

.copyright__link {
  margin-top: 10px;

  @media (min-width: $tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

