@use "../base/variables" as *;
@use "../base/mixins" as *;

.price {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #353535;

  @include corner(40px, "353535");

  @media (min-width: $tablet) {
    padding-bottom: 55px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
  }

  &::after {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.price__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet) {
    width: 640px;
  }
}

.price__table {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop) {
    width: 630px;
    margin: 0;
  }
}

.price__title {
  @media (min-width: $desktop) {
    width: 100%;
  }
}

.price__discount {
  @media (min-width: $desktop) {
    width: 269px;
  }
}
