@use "../base/variables" as *;

.price-table {
  width: 100%;
  font-size: 20px;
}

.price-table__row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    display: table-row;
  }
}

.price-table__cell {
  @media (min-width: $tablet) {
    width: auto;
    padding: 14px 15px 15px;
    border: 1px solid #484848;
  }

  &--num {
    display: none;

    @media (min-width: $tablet) {
      display: table-cell;
      text-align: center;
      color: rgba(#ffffff, 0.3);
    }
  }

  &--service {
    flex-grow: 1;
    font-weight: 700;
  }

  &--wash {
    width: 100%;
    order: 1;
  }

  &--cost {
    width: 80px;
  }
}

.price-table__cell-wash {
  &::before {
    content: "(";

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &::after {
    content: ")";

    @media (min-width: $tablet) {
      display: none;
    }
  }
}
