@use "../base/variables" as *;
@use "../base/mixins" as *;

.social__title {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    font-weight: 400;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include reset-list;

  @media (min-width: $desktop) {
    margin-top: 10px;
  }
}

.social__item {
  width: 33.33%;

  @media (min-width: $desktop) {
    width: auto;
    margin: 6px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  @include size(100%, 101px);

  border: 1px solid #3e3e3e;
  font-size: 0;

  @media (min-width: $desktop) {
    @include size(50px);
  }

  &:hover {
    border-color: #515151;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &--vk::before {
    mask-image: url("../images/sprite.svg#vk");
  }

  &--telegram::before {
    mask-image: url("../images/sprite.svg#telegram");
  }

  &--youtube::before {
    mask-image: url("../images/sprite.svg#youtube");
  }

  &--github::before {
    mask-image: url("../images/sprite.svg#github");
  }
}

.social__link-image {
  @include size(40px);

  @media (min-width: $desktop) {
    @include size(19px);
  }
}
