@use "../base/variables" as *;
@use "../base/mixins" as *;

.works {
  position: relative;
  z-index: 1;
  color: #000000;
  background-color: $bg-lightgrey;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  @include corner(40px, "f8f5f2");


  @media (min-width: $tablet) {
    padding-top: 30px;

    @include corner-reverse(65px, "f8f5f2");
  }

  &::after {
    @media (min-width: $desktop) {
      display: none;
    }
  }
}

.works__wrapper {
  margin: auto;
  width: 280px;
  padding: 0;

  @media (min-width: $tablet) {
    position: relative;
    width: 640px;
  }

  @media (min-width: $desktop) {
    width: 960px;
  }
}

.works__to-index {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    right: 0;
    top: -15px;
  }
}

.works__item {
  margin: 20px 0;
  border: 1px solid #e5ddd5;

  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    width: 294px;
  }

  &:first-child {
    @media (min-width: $desktop) {
      flex-direction: row;
      width: 100%;
      margin-right: 0;
    }
  }

  &:not(:nth-child(3n + 1)) {
    @media (min-width: $desktop) {
      margin-right: 39px;
    }
  }

  &:first-child .works__picture {
    @media (min-width: $desktop) {
      width: 480px;
    }
  }

  &:not(:first-child) .works__features {
    @media (min-width: $desktop) {
      width: 100%;
    }
  }

  &:not(:first-child) .works__feature {
    @media (min-width: $desktop) {
      width: 50%;
      margin-right: 0;
    }
  }
}

.works__picture {
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet) {
    width: 270px;
    flex-shrink: 0;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.works__image {
  vertical-align: bottom;
}

.works__description {
  padding: 20px;
  margin: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 53px;
  }
}

.works__client-name {
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
  font-weight: 700;
}

.works__review {
  margin: 20px 0 5px;
}

.works__features {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    margin-top: auto;
  }
}

.works__feature {
  width: 50%;
  margin-top: 15px;

  @media (min-width: $tablet) {
    width: auto;
    margin-right: 30px;
  }
}

.works__icon {
  position: relative;
  top: 3px;
  fill: #826550;

  &--haircut {
    width: 21px;
    height: 20px;
    margin-right: 12px;
  }

  &--shave {
    width: 23px;
    height: 21px;
    margin-right: 20px;
  }

  &--mustache {
    right: 12px;
    width: 45px;
    height: 12px;
  }
}

.works__list {
  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}
