<!DOCTYPE html>
{% set currentPage = 'form' %}
<html class="page" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>«Бородинский». Запись на стрижку</title>
  {% include 'templates/_head.html' %}
</head>
<body class="page__body">
{% include 'templates/_header.html' %}
<main class="main">
  <section class="appointment">
    <div class="appointment__wrapper wrapper">
      <h2 class="appointment__title title">Запись на стрижку</h2>
      <a href="index.html" class="button appointment__to-index">На главную</a>
      <form action="https://echo.htmlacademy.ru/" method="POST" class="appointment___form appointment-form">
        <fieldset class="appointment-form__passport-data">
          <input type="text" name="name" placeholder="Имя" required>
          <input type="text" name="surname" placeholder="Фамилия">
          <input type="text" name="patronym" placeholder="Отчество">
        </fieldset>
        <fieldset class="appointment-form__contacts">
          <input type="tel" name="phone-number" placeholder="Контактный телефон" required>
          <input type="email" name="email" placeholder="Контактный e-mail">
        </fieldset>
        <fieldset class="appointment-form__message">
          <textarea class="appointment-form__message-textarea" name="message" cols="100" rows="5" placeholder="Доп. информация для мастера"></textarea>
        </fieldset>
        <fieldset class="appointment-form__beard-choice">
          <legend class="appointment-form__legend">Выберите модель бороды:</legend>
          <div class="appointment-form__container">
            <input class="appointment-form__radio" type="radio" id="beard-admiral" name="beard-type" value="admiral" checked>
            <label class="appointment-form__beard-type appointment-form__beard-type--admiral" for="beard-admiral">Адмирал</label>
          </div>
          <div class="appointment-form__container">
            <input class="appointment-form__radio" type="radio" id="beard-lumberjack" name="beard-type" value="lumberjack">
            <label class="appointment-form__beard-type appointment-form__beard-type--lumberjack" for="beard-lumberjack">Лесоруб</label>
          </div>
          <div class="appointment-form__container">
            <input class="appointment-form__radio" type="radio" id="beard-polar" name="beard-type" value="polar">
            <label class="appointment-form__beard-type appointment-form__beard-type--polar" for="beard-polar">Полярник</label>
          </div>
          <div class="appointment-form__container">
            <input class="appointment-form__radio" type="radio" id="beard-boyar" name="beard-type" value="boyar">
            <label class="appointment-form__beard-type appointment-form__beard-type--boyar" for="beard-boyar">Боярин</label>
          </div>
          <div class="appointment-form__container">
            <input class="appointment-form__radio" type="radio" id="beard-sage" name="beard-type" value="sage">
            <label class="appointment-form__beard-type appointment-form__beard-type--sage" for="beard-sage">Мудрец</label>
          </div>
        </fieldset>
        <fieldset class="appointment-form__addition-services">
          <legend class="appointment-form__legend">Дополнительные услуги:</legend>
          <input type="checkbox" id="beard-colorize" name="addition-service" value="beard-colorize">
          <label class="appointment-form__addition-service" for="beard-colorize">Подкрасить бороду</label>
          <input type="checkbox" id="mustache-twist" name="addition-service" value="mustache-twist">
          <label class="appointment-form__addition-service" for="mustache-twist">Накрутить усы</label>
          <input type="checkbox" id="beard-comb" name="addition-service" value="beard-comb">
          <label class="appointment-form__addition-service" for="beard-comb">Причесать бороду</label>
          <input type="checkbox" id="trim-temple" name="addition-service" value="trim-temple">
          <label class="appointment-form__addition-service" for="trim-temple">Подровнять виски</label>
          <input type="checkbox" id="remove-grayhair" name="addition-service" value="remove-grayhair">
          <label class="appointment-form__addition-service" for="remove-grayhair">Убрать седину</label>
          <input type="checkbox" id="polish-baldhead" name="addition-service" value="polish-baldhead">
          <label class="appointment-form__addition-service" for="polish-baldhead">Отполировать лысину</label>
        </fieldset>
        <input class="button appointment-form__submit" type="submit" value="Отправить заявку">
      </form>
    </div>
  </section>
</main>
{% include 'templates/_footer.html' %}
{% include 'templates/_modal.html' %}
<script src="js/main.js"></script>
</body>
</html>
